/* src/componentes/background.css */
.bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5200px;
  background-color: #000;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.white-box {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.white-box.box-1 { top: 671px; height: 1037px; } /* Mantido como está */
.white-box.box-2 { top: 4182px; height: 768px; }