/*src/componentes/Pagina1/Footer.css*/
.footer {
  background-color: black;
  color: white;
  padding: 3.95%;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 21.4%;
  height: auto;
  margin-bottom: 1.6%;
}

.footer-phrase {
  font-size: 325%; 
  margin-bottom: 2.9%;
  font-weight: 800;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.9%;
}

.footer-links a {
  margin-top: 13.6%;
  font-size: 0.88rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #aaa;
}

.footer-copyright {
  font-size: 0.88rem;
}

/* CELULAR (até 480px) */
@media (max-width: 480px) {
  .footer {
    padding: 5%; 
  }

  .footer-container {
    max-width: 95%; 
  }

  .footer-logo {
    width: 30%; 
    margin-top: 10%;
    margin-bottom: 3%; 
  }

  .footer-phrase {
    font-size: 5vw; 
    margin-bottom: 4%; 
  }

  .footer-links {
    gap: 2%; 
    margin-bottom: 4%; 
  }

  .footer-links a {
    margin-top: 2%; 
    font-size: 2.5vw; 
  }

  .footer-copyright {
    font-size: 2.5vw; 
  }
}

/* TABLET (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 4%; 
  }

  .footer-container {
    max-width: 90%; 
  }

  .footer-logo {
    width: 25%; 
    margin-bottom: 2%; 
  }

  .footer-phrase {
    font-size: 4vw; 
    margin-bottom: 3.5%; 
  }

  .footer-links {
    gap: 1rem;
    margin-bottom: 3.5%; 
  }

  .footer-links a {
    margin-top: 5%; 
    font-size: 1.5vw; 
  }

  .footer-copyright {
    font-size: 1.5vw; 
  }
}
@media (min-width: 539px) and (max-width: 541px){
  .footer {
  background-color: black;
  color: white;
  padding: 3.95%;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 21.4%;
  height: auto;
  margin-bottom: 1.6%;
}

.footer-phrase {
  font-size: 150%; 
  margin-bottom: 2.9%;
  font-weight: 800;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.9%;
}

.footer-links a {
  margin-top: 13.6%;
  font-size: 0.88rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #aaa;
}

.footer-copyright {
  font-size: 0.88rem;
}
}